body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h2, h3, h4 {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

#promo-message {
    font-size: 14px;
}

#clear-cart {
    margin-top: 10px;
}
